{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>{% block title %} BAHIS Management {% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta
            name="description"
            content="BAHIS Management interface for modules, taxonomies and users"
    />
    <meta name="author" content="FAO BD ECTAD"/>
    <link rel="icon" href="{% static 'img/chameleon_icon.png' %}"/>
    {% block css %}
        <!--Import Google Icon Font-->
        <link
                rel="stylesheet"
                href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined"
        />

        <!-- The KoboToolbox Enketo Theme CSS to bring us in line with BAHIS-desk -->
        <link
                rel="stylesheet"
                href="{% static 'css/theme-kobo.css' %}"
        />

        <!-- Materialize CSS -->
        <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />

        <!-- This file stores project-specific CSS -->
        <link href="{% static 'css/project.css' %}" rel="stylesheet"/>

    {% endblock css %}
</head>
<body>
<div class="bahis-shape-field" aria-hidden="true">
    <span class="shape vet-mark icon-mark mark-paw a1"><span class="material-symbols-outlined">pets</span></span>
    <span class="shape vet-mark icon-mark mark-kit a2"><span class="material-symbols-outlined">medical_services</span></span>
    <span class="shape vet-mark icon-mark mark-vaccine a3"><span class="material-symbols-outlined">vaccines</span></span>
    <span class="shape vet-mark icon-mark mark-heart a4"><span class="material-symbols-outlined">monitor_heart</span></span>
    <span class="shape vet-mark icon-mark mark-shield a5"><span class="material-symbols-outlined">health_and_safety</span></span>
    <span class="shape vet-mark icon-mark mark-stethoscope a6"><span class="material-symbols-outlined">stethoscope</span></span>
    <span class="shape vet-mark hoof-mark a7"><span></span><span></span></span>
    <span class="shape vet-mark hoof-mark a8"><span></span><span></span></span>
    <span class="shape vet-mark cross-mark a9"></span>
    <span class="shape vet-mark cross-mark a10"></span>
    <span class="shape vet-mark capsule-mark a11"></span>
    <span class="shape vet-mark capsule-mark a12"></span>
    <span class="shape vet-mark ring-mark a13"></span>
    <span class="shape vet-mark ring-mark a14"></span>
    <span class="shape vet-mark icon-mark mark-paw a15"><span class="material-symbols-outlined">pets</span></span>
    <span class="shape vet-mark icon-mark mark-kit a16"><span class="material-symbols-outlined">emergency</span></span>
    <span class="shape vet-mark icon-mark mark-vaccine a17"><span class="material-symbols-outlined">vaccines</span></span>
    <span class="shape vet-mark icon-mark mark-heart a18"><span class="material-symbols-outlined">ecg_heart</span></span>
    <span class="shape vet-mark icon-mark mark-shield a19"><span class="material-symbols-outlined">local_hospital</span></span>
    <span class="shape vet-mark icon-mark mark-stethoscope a20"><span class="material-symbols-outlined">stethoscope</span></span>
    <span class="shape vet-mark hoof-mark a21"><span></span><span></span></span>
    <span class="shape vet-mark hoof-mark a22"><span></span><span></span></span>
    <span class="shape vet-mark cross-mark a23"></span>
    <span class="shape vet-mark cross-mark a24"></span>
    <span class="shape vet-mark capsule-mark a25"></span>
    <span class="shape vet-mark capsule-mark a26"></span>
    <span class="shape vet-mark ring-mark a27"></span>
    <span class="shape vet-mark ring-mark a28"></span>
</div>
<!-- Le javascript
================================================== -->
{# Placed at the top of the document so pages load faster with defer #}
{% block javascript %}
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- place project specific Javascript in this file -->
    <script defer src="{% static 'js/project.js' %}"></script>

{% endblock javascript %}

{% include 'partials/_header.html' %}

<main class="container">
    {% if messages %} {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
    {% endfor %} {% endif %}

    {% block content %}
        <h1>BAHIS Management</h1>

        <p>Use this document as a way to quick start any new project.</p>
    {% endblock content %}
</main>

{% include 'partials/_footer.html' %}
{% block modal %}
{% endblock modal %}
{% block inline_javascript %}
    {% comment %}
        Script tags with only code, no src (defer by default). To run
        with a "defer" so that you run inline code:
        <script>
            window.addEventListener("DOMContentLoaded", () => {
                /* Run whatever you want */
            });
        </script>
    {% endcomment %}
{% endblock inline_javascript %}
</body>
</html>
