{% load static %}
<header class="bahis-site-header">
    {% if not user.is_authenticated %}
        <script>
            localStorage.removeItem('token')
        </script>
    {% endif %}
    <nav class="bahis-nav">
        <div class="nav-wrapper container">
            <a href="{% url 'home' %}" class="brand-logo">
                <div class="valign-wrapper bahis-brand">
                    <img src="{% static 'img/logo.png' %}" alt="logo"/>
                    <span>
                        <strong>BAHIS</strong>
                        <small>Management Portal</small>
                    </span>
                </div>
            </a>
            <ul id="nav-mobile" class="right bahis-nav-links">
                <li>
                    <a href="{% url 'home' %}">
                        <i class="material-symbols-outlined left">home</i>
                        Home
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="#">
                            <i class="material-symbols-outlined left">account_circle</i>
                            {{ user.username }}
                        </a>
                    </li>
                    <li>
                        <form action="{% url 'users:logout' %}" method="post">
                            {% csrf_token %}
                            <button class="bahis-logout" type="submit">
                                <i class="material-symbols-outlined left">logout</i>
                                Log Out
                            </button>
                        </form>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'users:login' %}">
                            <i class="material-symbols-outlined left">login</i>
                            Log in
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
